<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="numble.jjan.post.repository.IPostRepository">

    <!-- post 저장 -->
    <insert id="postSave" parameterType="numble.jjan.post.entity.Post">
        insert into post(category_id, author, title, content)
        values (#{categoryId}, #{author}, #{title}, #{content})
        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- post 파일 저장 -->
    <insert id="postFileSave" parameterType="numble.jjan.post.entity.PostFile">
        insert into post_file_tb(post_id, file_type, original_file_name, new_file_name) values
        <foreach collection="list" item="postFile" separator=",">
            (#{postFile.lcPostId}, #{postFile.fileType}, #{postFile.originalFileName}, #{postFile.newFileName})
        </foreach>
    </insert>

</mapper>