<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="numble.jjan.reply.repository.ReplyMapper">
	<!-- PostId로 댓글 조회 -->
    <select id="findReplyList" resultType="numble.jjan.reply.dto.ReplyListResponseDto" parameterType="string">
        select r.id as id, 
		       r.re_reply_yn as reReplyYn,
		       u.name as author,
		       r.content as content,
		       r.likes as likes,
		       DATE_FORMAT(r.modified_date, '%Y.%m.%d %H:%i:%s') as modifiedDate
		  from reply r 
		 inner join user u 
		    on r.author = u.id
		 where r.post_id = ${postId}
		 order by r.parent_id, id;
    </select>
</mapper>